In [1]:
!pip install pivottablejs

Collecting pivottablejs
  Downloading pivottablejs-0.9.0-py2.py3-none-any.whl (4.7 kB)
Installing collected packages: pivottablejs
Successfully installed pivottablejs-0.9.0

In [2]:
from pivottablejs import pivot_ui

In [3]:
import seaborn as sns

In [4]:
df = sns.load_dataset('penguins')

In [5]:
df.sample(3)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
254,Gentoo,Biscoe,49.1,14.8,220.0,5150.0,Female
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,Male
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN

In [6]:
pivot_ui(df)

In [7]:
# Done