### Shapash Model Overview
https://shapash.readthedocs.io/en/latest/

##### With this tutorial you:
Understand how to create a Shapash SmartPredictor to make prediction and have local explanation in production with a simple use case.

This tutorial describes the different steps from training the model to Shapash SmartPredictor deployment. A more detailed tutorial allows you to know more about the SmartPredictor Object.

Contents:

- Build a Regressor
- Compile Shapash SmartExplainer
- From Shapash SmartExplainer to SmartPredictor
- Save Shapash Smartpredictor Object in pickle file
- Make a prediction

In [1]:
import seaborn as sns

In [2]:
df=sns.load_dataset('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
### Divide the dataset into independent and dependent dataset
y=df['tip']
X=df[df.columns.difference(['tip'])]

In [5]:
X.head()

   day     sex  size smoker    time  total_bill
0  Sun  Female     2     No  Dinner       16.99
1  Sun    Male     3     No  Dinner       10.34
2  Sun    Male     3     No  Dinner       21.01
3  Sun    Male     2     No  Dinner       23.68
4  Sun  Female     4     No  Dinner       24.59

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [7]:
X['day']=X['day'].cat.codes
X['sex']=X['sex'].cat.codes
X['smoker']=X['smoker'].cat.codes
X['time']=X['time'].cat.codes

<ipython-input-7-94ad230a0023>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['day']=X['day'].cat.codes
<ipython-input-7-94ad230a0023>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['sex']=X['sex'].cat.codes
<ipython-input-7-94ad230a0023>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['smoker']=X['smoker'].cat.codes
<ipython-input-7-94ad230a0023>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['time']=X['time'].cat.codes

In [8]:
X

     day  sex  size  smoker  time  total_bill
0      3    1     2       1     1       16.99
1      3    0     3       1     1       10.34
2      3    0     3       1     1       21.01
3      3    0     2       1     1       23.68
4      3    1     4       1     1       24.59
..   ...  ...   ...     ...   ...         ...
239    2    0     3       1     1       29.03
240    2    1     2       0     1       27.18
241    2    0     2       0     1       22.67
242    2    0     2       1     1       17.82
243    0    1     2       1     1       18.78

[244 rows x 6 columns]

In [9]:
### Train Test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.75,random_state=1)

In [10]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=200).fit(X_train,y_train)

#### Lets Understand Our Model With Shapash 
In this section, we use the SmartExplainer Object from shapash.

- It allows users to understand how the model works with the specified data.
- This object must be used only for data mining step. Shapash provides another object for deployment.

In [11]:
!pip install shapash

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: shapash in /usr/local/lib/python3.9/dist-packages (2.3.0)
Requirement already satisfied: dash-renderer==1.8.3 in /usr/local/lib/python3.9/dist-packages (from shapash) (1.8.3)
Requirement already satisfied: shap>=0.38.1 in /usr/local/lib/python3.9/dist-packages (from shapash) (0.41.0)
Requirement already satisfied: dash-bootstrap-components>=1.1.0 in /usr/local/lib/python3.9/dist-packages (from shapash) (1.4.0)
Requirement already satisfied: dash-core-components>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from shapash) (2.0.0)
Requirement already satisfied: matplotlib>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from shapash) (3.5.3)
Requirement already satisfied: dash-html-components>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from shapash) (2.0.0)
Requirement already satisfied: nbformat>4.2.0 in /usr/local/lib/python3.9/dist-packages (from shapash) (5.7.3)
Requirement already satisfied: dash-table>=5.0.0 in /usr/local/lib/python3.9/dist-packages (from shapash) (5.0.0)
Requirement already satisfied: dash-daq>=0.5.0 in /usr/local/lib/python3.9/dist-packages (from shapash) (0.5.0)
Requirement already satisfied: category-encoders>=2.6.0 in /usr/local/lib/python3.9/dist-packages (from shapash) (2.6.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.9/dist-packages (from shapash) (1.10.1)
Requirement already satisfied: dash>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from shapash) (2.8.1)
Requirement already satisfied: numpy>1.18.0 in /usr/local/lib/python3.9/dist-packages (from shapash) (1.22.4)
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.9/dist-packages (from shapash) (5.5.0)
Requirement already satisfied: pandas>1.0.2 in /usr/local/lib/python3.9/dist-packages (from shapash) (1.4.4)
Requirement already satisfied: scikit-learn>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from shapash) (1.2.2)
Requirement already satisfied: numba>=0.53.1 in /usr/local/lib/python3.9/dist-packages (from shapash) (0.56.4)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.9/dist-packages (from category-encoders>=2.6.0->shapash) (0.13.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.9/dist-packages (from category-encoders>=2.6.0->shapash) (0.5.3)
Requirement already satisfied: Flask>=1.0.4 in /usr/local/lib/python3.9/dist-packages (from dash>=2.3.1->shapash) (2.2.3)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.2.0->shapash) (4.39.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.2.0->shapash) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.2.0->shapash) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.2.0->shapash) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.2.0->shapash) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.2.0->shapash) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.2.0->shapash) (0.11.0)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.9/dist-packages (from nbformat>4.2.0->shapash) (4.3.3)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.9/dist-packages (from nbformat>4.2.0->shapash) (2.16.3)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.9/dist-packages (from nbformat>4.2.0->shapash) (5.2.0)
Requirement already satisfied: traitlets>=5.1 in /usr/local/lib/python3.9/dist-packages (from nbformat>4.2.0->shapash) (5.7.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from numba>=0.53.1->shapash) (63.4.3)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.9/dist-packages (from numba>=0.53.1->shapash) (0.39.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>1.0.2->shapash) (2022.7.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from plotly>=5.0.0->shapash) (8.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from plotly>=5.0.0->shapash) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=1.0.1->shapash) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=1.0.1->shapash) (1.1.1)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.9/dist-packages (from shap>=0.38.1->shapash) (4.65.0)
Requirement already satisfied: slicer==0.0.7 in /usr/local/lib/python3.9/dist-packages (from shap>=0.38.1->shapash) (0.0.7)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.9/dist-packages (from shap>=0.38.1->shapash) (2.2.1)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.9/dist-packages (from Flask>=1.0.4->dash>=2.3.1->shapash) (8.1.3)
Requirement already satisfied: importlib-metadata>=3.6.0 in /usr/local/lib/python3.9/dist-packages (from Flask>=1.0.4->dash>=2.3.1->shapash) (6.0.0)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.9/dist-packages (from Flask>=1.0.4->dash>=2.3.1->shapash) (2.1.2)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.9/dist-packages (from Flask>=1.0.4->dash>=2.3.1->shapash) (2.2.3)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.9/dist-packages (from Flask>=1.0.4->dash>=2.3.1->shapash) (3.1.2)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=2.6->nbformat>4.2.0->shapash) (0.19.3)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=2.6->nbformat>4.2.0->shapash) (22.2.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.9/dist-packages (from jupyter-core->nbformat>4.2.0->shapash) (3.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata>=3.6.0->Flask>=1.0.4->dash>=2.3.1->shapash) (3.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from Jinja2>=3.0->Flask>=1.0.4->dash>=2.3.1->shapash) (2.1.2)

In [12]:
from shapash.explainer.smart_explainer import SmartExplainer

In [13]:
xpl = SmartExplainer(model=regressor)

In [14]:
xpl.compile(
    x=X_test,
   
)

In [15]:
xpl

#### Lets Understand the results of your trained model
Then, we can easily get a first summary of the explanation of the model results.

- Here, we chose to get the 3 most contributive features for each prediction.
- We used a wording to get features names more understandable in operationnal case.

In [16]:
app = xpl.run_app(title_story='Tips Dataset')

Dash is running on http://0.0.0.0:8050/

/usr/local/lib/python3.9/dist-packages/shapash/webapp/smart_app.py:354: FutureWarning:

Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.

INFO:shapash.webapp.smart_app:Dash is running on http://0.0.0.0:8050/

In [17]:
predictor = xpl.to_smartpredictor()

 * Serving Flask app 'shapash.webapp.smart_app'
 * Debug mode: off

INFO:werkzeug:WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:8050
 * Running on http://172.28.0.12:8050
INFO:werkzeug:Press CTRL+C to quit

In [18]:
predictor.save('./predictor.pkl')

In [19]:
from shapash.utils.load_smartpredictor import load_smartpredictor
predictor_load = load_smartpredictor('./predictor.pkl')

#### Make a prediction with your SmartPredictor
In order to make new predictions and summarize local explainability of your model on new datasets, you can use the method add_input of the SmartPredictor.

- The add_input method is the first step to add a dataset for prediction and explainability.
- It checks the structure of the dataset, the prediction and the contribution if specified.
- It applies the preprocessing specified in the initialisation and reorder the features with the order used by the model. (see the documentation of this method)
- In API mode, this method can handle dictionnaries data which can be received from a GET or a POST request.
- Add data
- The x input in add_input method doesn't have to be encoded, add_input applies preprocessing.

In [20]:
predictor_load.add_input(x=X, ypred=y)

In [21]:
detailed_contributions = predictor_load.detail_contributions()

In [22]:
detailed_contributions.head()

    tip       day       sex      size    smoker      time  total_bill
0  1.01  0.064627  0.086969 -0.005311 -0.034607 -0.002233    0.196429
1  1.66  0.082869 -0.045619 -0.001113 -0.087070 -0.018620   -1.230922
2  3.50  0.052819 -0.022594 -0.032072 -0.005515  0.010778    0.424908
3  3.31  0.124649 -0.025714 -0.036211  0.008283 -0.000153    0.095870
4  3.61  0.044977  0.050637 -0.015527  0.009359 -0.004720   -0.174302

#### Summarize explanability of the predictions
- You can use the summarize method to summarize your local explainability
- This summary can be configured with modify_mask method so that you have explainability that meets your operational needs.

In [23]:

predictor_load.modify_mask(max_contrib=3)

In [24]:
explanation = predictor_load.summarize()

In [25]:
explanation.head()

,tip,feature_1,value_1,contribution_1,feature_2,value_2,contribution_2,feature_3,value_3,contribution_3
0,1.01,total_bill,16.99,0.196429,sex,1.0,0.086969,day,3.0,0.064627
1,1.66,total_bill,10.34,-1.230922,smoker,1.0,-0.08707,day,3.0,0.082869
2,3.50,total_bill,21.01,0.424908,day,3.0,0.052819,size,3.0,-0.032072
3,3.31,day,3.0,0.124649,total_bill,23.68,0.09587,size,2.0,-0.036211
4,3.61,total_bill,24.59,-0.174302,sex,1.0,0.050637,day,3.0,0.044977

In [26]:
# Done